<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% for i in time %}
    <img src="{{i.image.url}}" alt="">
    {% endfor %}
  </body>
</html>
