<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="{% url 'main' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form}}
      <input type="submit" name="" value="Save">
    </form>
  </body>
</html>
