<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% for i in time %}
    {{i.mg}}<br>
    <img src="{{i.url}}" alt="" style="height:100px; width:100px;"><br>
    {% endfor %}
  </body>
</html>
