<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h4>
    {% for i in users %}
    <a href="{% url 'selected' i.id %}">{{i.name}}</a>
    <br>
    {% endfor %}
    </h4>
  </body>
</html>
