<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{specificId.name}}
    <img src="{{specificId.image.url}}" alt="" width='300',height='200'>
  </body>
</html>
